
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/abarna.png %}" alt="card image"></p>
                              <h4 class="card-title">Abarna Lingeswaran</h4>
                              <p class="card-text">Last Role: Corporate Affairs Team Leader</p>
                              <p class="card-text">May 2019 - May 2020</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Abarna Lingeswaran</h4>
                              <p class="card-text">Worked in: </br>Corporate Affairs
Partnerships and Sponsorships Affairs
Quality, Sustainability and Workflow
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/abarna-lingeswaran-aaa28a94/">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/agathe.png %}" alt="card image"></p>
                              <h4 class="card-title">Agathe Mocellin</h4>
                              <p class="card-text">Last Role: Corporate Affairs Officer</p>
                              <p class="card-text">November 2019 - May 2020</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Agathe Mocellin</h4>
                              <p class="card-text">Worked in: </br>Corporate Affairs
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/agathe-mocellin-8a3939b4/">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/ernesto.png %}" alt="card image"></p>
                              <h4 class="card-title">Ernesto Araya</h4>
                              <p class="card-text">Last Role: Logistics Officer</p>
                              <p class="card-text">November 2019 - May 2020</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Ernesto Araya</h4>
                              <p class="card-text">Worked in: </br>Logistics
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/ernesto-araya-279319b6/">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/felipe.png %}" alt="card image"></p>
                              <h4 class="card-title">Felipe Gonzalez</h4>
                              <p class="card-text">Last Role: Logistics Team Leader</p>
                              <p class="card-text">February 2019 - May 2020</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Felipe Gonzalez</h4>
                              <p class="card-text">Worked in: </br>Corporate Affairs
Logistics
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/felipe-gonzalez-venegas-b3a42251">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/khadidja.png %}" alt="card image"></p>
                              <h4 class="card-title">Khadidja Bouziane</h4>
                              <p class="card-text">Last Role: Communication Team Leader</p>
                              <p class="card-text">May 2019 - January 2021</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Khadidja Bouziane</h4>
                              <p class="card-text">Worked in: </br>Communication
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/khadidja-bouziane-909b8ab0/">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/lukas.png %}" alt="card image"></p>
                              <h4 class="card-title">Lukas Sohl</h4>
                              <p class="card-text">Last Role: Corporate Affairs Officer</p>
                              <p class="card-text">November 2019 - May 2020</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Lukas Sohl</h4>
                              <p class="card-text">Worked in: </br>Corporate Affairs
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/lukas-sohl/">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/oscar.png %}" alt="card image"></p>
                              <h4 class="card-title">Oscar De la Cruz</h4>
                              <p class="card-text">Last Role: Event Manager</p>
                              <p class="card-text">May 2019 - May 2020</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Oscar De la Cruz</h4>
                              <p class="card-text">Worked in: </br>Event Manager
Website & Registration
Quality, Sustainability and Workflow
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/odelacruz-frmx/">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/riya.png %}" alt="card image"></p>
                              <h4 class="card-title">Riya George</h4>
                              <p class="card-text">Last Role: Corporate Affairs Officer</p>
                              <p class="card-text">November 2019 - May 2020</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Riya George</h4>
                              <p class="card-text">Worked in: </br>Corporate Affairs
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/riya-george-3969a8b3/detail/photo/?locale=de_DE">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/tiago2.jpeg %}" alt="card image"></p>
                              <h4 class="card-title">Tiago Rocha Gonçalves</h4>
                              <p class="card-text">Last Role: Program Officer</p>
                              <p class="card-text">May 2019 - January 2021</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Tiago Rocha Gonçalves</h4>
                              <p class="card-text">Worked in: </br>Program
Partnerships and Sponsorships Affairs
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/tiago-rocha-gon%C3%A7alves-61908564/">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/tong.png %}" alt="card image"></p>
                              <h4 class="card-title">Tong Yu</h4>
                              <p class="card-text">Last Role: Program Officer</p>
                              <p class="card-text">November 2019 - May 2020</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Tong Yu</h4>
                              <p class="card-text">Worked in: </br>Program
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/tong-yu-7b489ab3/">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/yanis.png %}" alt="card image"></p>
                              <h4 class="card-title">Yanis Sassi</h4>
                              <p class="card-text">Last Role: Website & Registration Officer</p>
                              <p class="card-text">November 2019 - May 2020</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Yanis Sassi</h4>
                              <p class="card-text">Worked in: </br>Website & Registration
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/yanis-sassi-10613016a/">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/renata.png %}" alt="card image"></p>
                              <h4 class="card-title">Renata Porciuncula Baptista</h4>
                              <p class="card-text">Last Role: Corporate Affairs Team Leader</p>
                              <p class="card-text">November 2020 - January 2021</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Renata Porciuncula Baptista</h4>
                              <p class="card-text">Worked in: </br>Corporate Affairs
Quality, Sustainability and Workflow
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/renata-baptista/">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/alaul.png %}" alt="card image"></p>
                              <h4 class="card-title">Alaul Islam</h4>
                              <p class="card-text">Last Role: Communication Officer</p>
                              <p class="card-text">May 2020 - December 2020</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Alaul Islam</h4>
                              <p class="card-text">Worked in: </br>Communication
Website & Registration
Quality, Sustainability and Workflow
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/alaul-islam/">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/zoe.png %}" alt="card image"></p>
                              <h4 class="card-title">Zoé Favier</h4>
                              <p class="card-text">Last Role: Corporate Affairs Officer</p>
                              <p class="card-text">November 2020 - January 2021</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Zoé Favier</h4>
                              <p class="card-text">Worked in: </br>Corporate Affairs
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/zoe-favier/">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/no-avatar.png %}" alt="card image"></p>
                              <h4 class="card-title">Do Edmond Sanou</h4>
                              <p class="card-text">Last Role: Communication Officer</p>
                              <p class="card-text">November 2020 - January 2021</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Do Edmond Sanou</h4>
                              <p class="card-text">Worked in: </br>Communication
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="https://linkedin.com/in/doedmond">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>