    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/abarna.png %}" alt="card image"></p>
                              <h4 class="card-title">Abarna Lingeswaran</h4>
                              <p class="card-text">Last Role: LASTROLE</p>
                              <p class="card-text">DATEBEGIN - DATEEND</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Abarna Lingeswaran</h4>
                              <p class="card-text">Worked in:  
                                TEAMS
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="LINKEDIN">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/agathe.png %}" alt="card image"></p>
                              <h4 class="card-title">Agathe Mocellin</h4>
                              <p class="card-text">Last Role: LASTROLE</p>
                              <p class="card-text">DATEBEGIN - DATEEND</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Agathe Mocellin</h4>
                              <p class="card-text">Worked in:  
                                TEAMS
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="LINKEDIN">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/ernesto.png %}" alt="card image"></p>
                              <h4 class="card-title">Ernesto Araya</h4>
                              <p class="card-text">Last Role: LASTROLE</p>
                              <p class="card-text">DATEBEGIN - DATEEND</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Ernesto Araya</h4>
                              <p class="card-text">Worked in:  
                                TEAMS
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="LINKEDIN">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/felipe.png %}" alt="card image"></p>
                              <h4 class="card-title">Felipe Gonzalez</h4>
                              <p class="card-text">Last Role: LASTROLE</p>
                              <p class="card-text">DATEBEGIN - DATEEND</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Felipe Gonzalez</h4>
                              <p class="card-text">Worked in:  
                                TEAMS
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="LINKEDIN">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/lukas.png %}" alt="card image"></p>
                              <h4 class="card-title">Lukas Sohl</h4>
                              <p class="card-text">Last Role: LASTROLE</p>
                              <p class="card-text">DATEBEGIN - DATEEND</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Lukas Sohl</h4>
                              <p class="card-text">Worked in:  
                                TEAMS
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="LINKEDIN">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/oscar.png %}" alt="card image"></p>
                              <h4 class="card-title">Oscar De la Cruz</h4>
                              <p class="card-text">Last Role: LASTROLE</p>
                              <p class="card-text">DATEBEGIN - DATEEND</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Oscar De la Cruz</h4>
                              <p class="card-text">Worked in:  
                                TEAMS
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="LINKEDIN">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/no-avatar.png %}" alt="card image"></p>
                              <h4 class="card-title">Riya George</h4>
                              <p class="card-text">Last Role: LASTROLE</p>
                              <p class="card-text">DATEBEGIN - DATEEND</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Riya George</h4>
                              <p class="card-text">Worked in:  
                                TEAMS
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="LINKEDIN">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/tong.png %}" alt="card image"></p>
                              <h4 class="card-title">Tong Yu</h4>
                              <p class="card-text">Last Role: LASTROLE</p>
                              <p class="card-text">DATEBEGIN - DATEEND</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Tong Yu</h4>
                              <p class="card-text">Worked in:  
                                TEAMS
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="LINKEDIN">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/yanis.png %}" alt="card image"></p>
                              <h4 class="card-title">Yanis Sassi</h4>
                              <p class="card-text">Last Role: LASTROLE</p>
                              <p class="card-text">DATEBEGIN - DATEEND</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Yanis Sassi</h4>
                              <p class="card-text">Worked in:  
                                TEAMS
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="LINKEDIN">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="image-flip" >
                <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src="{{ site.baseurl }}{% link assets/img/alumni/alaul.png %}" alt="card image"></p>
                              <h4 class="card-title">Alaul Islam</h4>
                              <p class="card-text">Last Role: LASTROLE</p>
                              <p class="card-text">DATEBEGIN - DATEEND</p>
                              <!-- <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-4">
                              <h4 class="card-title">Alaul Islam</h4>
                              <p class="card-text">Worked in:  
                                TEAMS
                              </p>
                              <ul class="list-inline">
                                  
                                  <li class="list-inline-item">
                                      <a class="social-icon text-xs-center" target="_blank" href="LINKEDIN">
                                          <i class="fa fa-linkedin"></i>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>