<li class="mix Formations">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Formations/college_des_ingenieurs.png %}" alt="College des ingenieurs">
</li>
<li class="mix Entreprises">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Entreprises/air_liquide.png %}" alt="Air liquide">
</li>
<li class="mix Entreprises">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Entreprises/arianegroup.jpg %}" alt="Arianegroup">
</li>
<li class="mix Entreprises">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Entreprises/bearingpoint.png %}" alt="Bearingpoint">
</li>
<li class="mix Entreprises">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Entreprises/cea.png %}" alt="Cea">
</li>
<li class="mix Entreprises">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Entreprises/edf.jpg %}" alt="Edf">
</li>
<li class="mix Entreprises">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Entreprises/michelin.png %}" alt="Michelin">
</li>
<li class="mix Entreprises">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Entreprises/renault.png %}" alt="Renault">
</li>
<li class="mix Entreprises">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Entreprises/Safran.png %}" alt="Safran">
</li>
<li class="mix Entreprises">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Entreprises/schlumberger.png %}" alt="Schlumberger">
</li>
<li class="mix Entreprises">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Entreprises/thales.png %}" alt="Thales">
</li>
<li class="mix Entreprises">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Entreprises/veolia.jpg %}" alt="Veolia">
</li>
