<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Companies/air_liquide.png %}" alt="Air liquide">
</li>
<li class="mix TBC">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/TBC/arianegroup.jpg %}" alt="Arianegroup">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Companies/bearingpoint.png %}" alt="Bearingpoint">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Companies/cea.png %}" alt="Cea">
</li>
<li class="mix Confirmed Education">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Education/college_des_ingenieurs.png %}" alt="College des ingenieurs">
</li>
<li class="mix TBC">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/TBC/edf.jpg %}" alt="Edf">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Companies/michelin.png %}" alt="Michelin">
</li>
<li class="mix TBC">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/TBC/renault.png %}" alt="Renault">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Companies/Safran.png %}" alt="Safran">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Companies/schlumberger.png %}" alt="Schlumberger">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Companies/thales.png %}" alt="Thales">
</li>
<li class="mix TBC">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/TBC/veolia.jpg %}" alt="Veolia">
</li>
