<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Companies/altran.png %}" alt="Altran">
</li>
<li class="mix TBC">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/TBC/artelys.png %}" alt="Artelys">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Companies/bpi.png %}" alt="Bpi">
</li>
<li class="mix TBC">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/TBC/drimin_saclay.png %}" alt="Drimin saclay">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Companies/eomys.png %}" alt="Eomys">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Companies/finwedge.png %}" alt="Finwedge">
</li>
<li class="mix TBC">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/TBC/ingima.png %}" alt="Ingima">
</li>
<li class="mix Confirmed Startups">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Startups/Innovafeed.png %}" alt="Innovafeed">
</li>
<li class="mix Confirmed Startups">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Startups/jalgos.png %}" alt="Jalgos">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Companies/loreal.png %}" alt="Loreal">
</li>
<li class="mix Confirmed Startups">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Startups/magic_lemp.png %}" alt="Magic lemp">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Companies/owi.png %}" alt="Owi">
</li>
<li class="mix TBC">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/TBC/PhDTalent_carrerfair.png %}" alt="PhDTalent carrerfair">
</li>
<li class="mix TBC">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/TBC/quantmetry.png %}" alt="Quantmetry">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Companies/rd2.png %}" alt="Rd2">
</li>
<li class="mix TBC">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/TBC/saint_gobain.png %}" alt="Saint gobain">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Companies/scalian.png %}" alt="Scalian">
</li>
<li class="mix TBC">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/TBC/tedxsaclay.svg %}" alt="Tedxsaclay">
</li>
<li class="mix TBC">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/TBC/total.png %}" alt="Total">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Companies/vedecom.jpg %}" alt="Vedecom">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link /assets/img/companies/Companies/whitings.png %}" alt="Whitings">
</li>
