<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Companies/3AF.png %}" alt="3AF">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Companies/air_liquide.png %}" alt="Air liquide">
</li>
<li class="mix Confirmed Startups">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Startups/airthium.png %}" alt="Airthium">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Companies/atos.png %}" alt="Atos">
</li>
<li class="mix Confirmed Startups">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Startups/axionable.png %}" alt="Axionable">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Companies/bearingpoint.png %}" alt="Bearingpoint">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Companies/cea.png %}" alt="Cea">
</li>
<li class="mix Confirmed Education">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Education/college_des_ingenieurs.png %}" alt="College des ingenieurs">
</li>
<li class="mix Confirmed Startups">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Startups/cortecnet.gif %}" alt="Cortecnet">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Companies/edf.jpg %}" alt="Edf">
</li>
<li class="mix Confirmed Startups">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Startups/entrepreneur_first_small.png %}" alt="Entrepreneur first small">
</li>
<li class="mix Confirmed Startups">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Startups/flatlooker.png %}" alt="Flatlooker">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Companies/inria.jpg %}" alt="Inria">
</li>
<li class="mix Confirmed Startups">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Startups/jalgos.png %}" alt="Jalgos">
</li>
<li class="mix Confirmed Startups">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Startups/logo_ARTELYS_525736.gif %}" alt="Logo ARTELYS 525736">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Companies/michelin.png %}" alt="Michelin">
</li>
<li class="mix Confirmed Startups">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Startups/octopeek.png %}" alt="Octopeek">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Companies/onera.jpg %}" alt="Onera">
</li>
<li class="mix Confirmed Startups">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Startups/PhDTalent_carrerfair.png %}" alt="PhDTalent carrerfair">
</li>
<li class="mix Confirmed Startups">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Startups/predisurge.jpg %}" alt="Predisurge">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Companies/Safran.png %}" alt="Safran">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Companies/saint_gobain.png %}" alt="Saint gobain">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Companies/schlumberger.png %}" alt="Schlumberger">
</li>
<li class="mix Confirmed Startups">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Startups/snips.png %}" alt="Snips">
</li>
<li class="mix Confirmed Companies">
  <img src="{{ site.baseurl }}{% link assets/img/companies_old/Companies/thales.png %}" alt="Thales">
</li>
