<div id="event-sub-nav" class="navbar navbar-expand-sm navbar-light bd-navbar justify-content-center">
  <ul class="navbar-nav mx-auto">
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{{ site.baseurl }}{% link assets/fr/inscription.html %}">Inscription</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{{ site.baseurl }}{% link assets/fr/programme.html %}">Programme</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" href="#ateliers">Ateliers</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" href="#careers">Présentations d'entreprises</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{{ site.baseurl }}{% link assets/fr/talk.html %}">Conférence</a>
          </li>
          <li class="nav-item mx-auto">
            <a class="nav-link" href="{{ site.baseurl }}{% link assets/fr/poster.html %}">Posters</a>
        </li>
  </ul>
</div>