<div id="event-sub-nav" class="navbar navbar-expand-sm navbar-light bd-navbar justify-content-center">
  <ul class="navbar-nav mx-auto">
      <li class="nav-item mx-auto">
        <a class="nav-link" href="{{ site.baseurl }}{% link assets/en/registration.html %}">Registration</a>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link" href="{{ site.baseurl }}{% link assets/en/program.html %}">Program</a>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link" href="#workshops">Workshops</a>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link" href="#careers">Company talks</a>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link" href="{{ site.baseurl }}{% link assets/en/talk.html %}">Keynote lecturers</a>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link" href="{{ site.baseurl }}{% link assets/en/poster.html %}">Poster contest</a>
    </li>
  </ul>
</div>