<div id="event-sub-nav" class="navbar navbar-expand-sm navbar-light bd-navbar justify-content-center">
  <ul class="navbar-nav mx-auto">
    <li class="nav-item mx-auto">
      <a class="nav-link" href="{{ site.baseurl }}{% link assets/en/corporations.html %}">Corporations</a>
    </li>
    <li class="nav-item mx-auto">
      <a class="nav-link" href="{{ site.baseurl }}{% link assets/en/program.html %}">Program</a>
    </li>
    <li class="nav-item mx-auto">
      <a class="nav-link" href="{{ site.baseurl }}{% link assets/en/previous_edition.html %}">Previous Edition</a>
    </li>
  </ul>
</div>