<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
            <li><a href="{{ site.baseurl }}/#aboutus">À propos</a></li>
            <li><a href="{{ site.baseurl }}{% link assets/fr/contact.html %}">Contacts</a></li>
            <!-- <li><a href="#">Terms</a></li>-->
          </ul>
        </div>
        <p>Copyright &copy; &amp; Design by CARaDOC.</p>
      </div>
    </div>
  </div>
</footer>
