<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
            <li><a href="https://fr.linkedin.com/company/caradocasso" class="fa fa-linkedin"></a></li>
            <li><a href="https://twitter.com/CARaDOCasso" class="fa fa-twitter"></a></li>
            <li><a href=" https://www.instagram.com/phd_paris_saclay/" class="fa fa-instagram"></a></li>
            <li><a href="https://www.youtube.com/channel/UCmsz11KAxhin_p8ULEgAV_Q" class="fa fa-youtube"></a></li>
            <li><a href="https://m.facebook.com/CARaDOCasso/" class="fa fa-facebook"></a></li>
            <!-- <li><a href="#">Terms</a></li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
            <li><a href="{{ site.baseurl }}{% link assets/en/story.html %}">About Us</a></li>
            <li><a href="{{ site.baseurl }}{% link assets/en/contact.html %}">Contacts</a></li>
            <!-- <li><a href="#">Terms</a></li>-->
          </ul>
        </div>
        <p>Copyright &copy; &amp; Design by CARaDOC.</p>
      </div>
    </div>
  </div>
</footer>
