<!-- Header Start -->
<header class="navbar navbar-expand-sm navbar-light bg-light bd-navbar">
  <a class="navbar-brand mr-0 mr-md-2" href="{% link assets/en/index.html %}">
    <img class="img-fluid img-responsive" src="{{ site.baseurl }}/assets/img/logo_jred_no_bkgd.png" alt="Logo">
  </a>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" data-value="home" href="{{ site.baseurl }}{% link assets/en/index.html %}">Home</a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" data-value="registration" href="{{ site.baseurl }}{% link assets/en/registration.html %}">Registration</a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" data-value="program" href="{{ site.baseurl }}{% link assets/en/index.html %}#programme">Program</a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" data-value="companies" href="{{ site.baseurl }}{% link assets/en/companies.html %}">Companies</a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" data-value="talk" href="{{ site.baseurl }}{% link assets/en/talk.html %}">Talk & Guests</a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" data-value="poster" href="{{ site.baseurl }}{% link assets/en/poster.html %}">Poster Session</a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" data-value="map" href="{{ site.baseurl }}{% link assets/en/map.html %}">Location & Access</a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" data-value="contact" href="{{ site.baseurl }}{% link assets/en/contact.html %}">Contact</a>
      </li>
      <li class="nav-item mx-1">
        <a class="nav-link" href="{{ site.baseurl }}/">
          <img class="img-fluid lang-flag" src="{{ site.baseurl }}/assets/img/fr_flag.png" alt="Logo">
          FR
        </a>
      </li>
    </ul>
  </div>
</header><!-- header close -->
