<!-- Header Start -->
<header class="navbar navbar-expand-sm navbar-light bg-light bd-navbar">
  <a class="navbar-brand mr-0 mr-md-2" href="{{ site.baseurl }}/">
    <img class="img-fluid img-responsive" src="{{ site.baseurl }}/assets/img/logo_jred_no_bkgd.png" alt="Logo">
  </a>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item mx-auto">
        <a class="nav-link" data-value="home" href="{{ site.baseurl }}/">Accueil</a>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link" data-value="registration" href="{{ site.baseurl }}/registration">Inscription</a>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link" data-value="program" href="{{ site.baseurl }}/#programme">Programme</a>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link" data-value="companies" href="{{ site.baseurl }}/entreprises">Entreprises</a>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link" data-value="talk" href="{{ site.baseurl }}/table_ronde">Table ronde</a>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link" data-value="poster" href="{{ site.baseurl }}/poster">Poster</a>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link" data-value="map" href="{{ site.baseurl }}/map">Plan & Accès</a>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link nav-prelang" data-value="contact" href="{{ site.baseurl }}/contact">Contacts</a>
      </li>
      <li class="nav-item mx-auto">
        <a class="nav-link nav-lang" href="{{ site.baseurl }}{% link assets/en/index.html %}">
          <img class="img-fluid lang-flag" src="{{ site.baseurl }}/assets/img/gb_flag.png" alt="Logo">
          EN
        </a>
      </li>
    </ul>
  </div>
</header><!-- header close -->
