<!-- Header Start -->
<header class="navbar navbar-expand-sm navbar-light bg-light bd-navbar">
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav  container-fluid">
      <li class="nav-item mx-auto">
        <a class="navbar-brand mr-0 mr-md-2" href="{{ site.baseurl }} {% link assets/fr/index.html %}">
          <!--
          <img class="img-fluid img-responsive" src="{{ site.baseurl }}/assets/img/caradoc_logo.png" alt="Logo">
          -->
          <img class="img-fluid img-responsive" src="{{ site.baseurl }}/assets/img/200126_Website_menu.png" alt="Logo" style="width:4vw">
        </a>
      </li>
      <!-- ***************************************************************** -->
      <li class="nav-item mx-auto">
        <a class="nav-link" data-value="home" href="#Evènement">Evènement</a>
        <lu class="nav-sub-item mx-auto">
            <div class="subnav-content">
              <a class="subnav-text" href="{{ site.baseurl }}{% link assets/fr/inscription.html %}">Inscription</a>
              <a class="subnav-text" href="{{ site.baseurl }}{% link assets/fr/programme.html %}">Programme</a>
              <a class="subnav-text" href="#careers">Ateliers</a>
              <a class="subnav-text" href="#careers">Présentations d'entreprises</a>
              <a class="subnav-text" href="{{ site.baseurl }}{% link assets/fr/invites.html %}">Invités</a>
              <a class="subnav-text" href="{{ site.baseurl }}{% link assets/fr/poster.html %}">Posters</a>
            </div>
        </lu>
      </li>
      <!-- ***************************************************************** -->
      <li class="nav-item mx-auto">
        <a class="nav-link" data-value="companies" href="{{ site.baseurl }}{% link assets/fr/entreprises.html %}">Entreprises</a>
      </li>
       <!-- ***************************************************************** -->
      <li class="nav-item mx-auto">
        <a class="nav-link" data-value="companies" href="#Offres">Offres</a>
      </li>
       <!-- ***************************************************************** -->
      <li class="nav-item mx-auto">
        <a class="nav-link" data-value="map" href="{{ site.baseurl }}{% link assets/fr/map.html %}">Plan & Accès</a>
      </li>
      <!-- ***************************************************************** -->
      <li class="nav-item mx-auto">
        <a class="nav-link" data-value="home" href="#Evènement">A propos</a>
        <lu class="nav-sub-item mx-auto">
            <div class="subnav-content">
              <a class="subnav-text" href="{{ site.baseurl }}{% link assets/fr/contact.html %}">Contact</a>
              <a class="subnav-text" href="{{ site.baseurl }}{% link assets/en/team.html %}">L'équipe</a>
              <a class="subnav-text" href="#careers">L'histoire de CARaDOC</a>
            </div>
        </lu>
      </li>
      <!-- ***************************************************************** -->
      <li class="nav-item mx-auto">

          <a class="nav-link nav-lang" href="{{ site.baseurl }}{% link assets/en/index.html %}">

          <img class="img-fluid lang-flag" src="{{ site.baseurl }}/assets/img/gb_flag.png" alt="Logo">
          EN
        </a>
      </li>
    </ul>
  </div>
</header><!-- header close -->
