<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title-->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/favicons/favicon_caradoc.png">
<!--
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/assets/favicons/site.webmanifest">
<link rel="mask-icon" href="{{ site.baseurl }}/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
-->

<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/airspace.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ionicons.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/animate.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/responsive.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/my_navbar.css" />
-->
