<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title-->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="yandex-verification" content="8750ad691d7a15b7" />
<!-- Favicons and logos in web browsers-->
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="{{ '/assets/favicons/favicon.ico' | prepend: site.baseurl | prepend: site.url }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="{{ site.baseurl }}/assets/favicons/safari-pinned-tab.svg" color="#00aba9">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">
<!-- Social media meta data section -->
<!-- Twitter specific --->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="https://www.caradoc-paris-saclay.fr{{ site.baseurl }}{% link assets/favicons/website_preview.jpg %}" />
<!-- End Twitter -->
<meta name="url" prefix="og: http://ogp.me/ns#" property="og:url" content="http://caradoc-paris-saclay.fr" />
<meta prefix="og: http://ogp.me/ns#" property="og:type" content="website" />
<meta property="og:site_name" content="CARaDOC">
<meta name="title" prefix="og: http://ogp.me/ns#" property="og:title" content="Careers and Doctors (CARaDOC)"/>
<meta property="og:image" content="http://www.caradoc-paris-saclay.fr{{ site.baseurl }}{% link assets/favicons/website_preview.jpg %}" />
<meta property="og:image:secure_url" content="https://www.caradoc-paris-saclay.fr{{ site.baseurl }}{% link assets/favicons/website_preview.jpg %}" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="573" />
<meta property="og:image:height" content="272" />
<meta property="og:image:alt" content="A snapshot of the homepage of the CARaDOC website." />
<meta name="description" prefix="og: http://ogp.me/ns#" property="og:description" content="CARaDOC is a job fair for PhD Students and young researchers of Paris-Saclay. CARaDOC is organized by volunteer PhD Students and Post-docs of Paris-Saclay."/>
<!-- CSS Imports -->
<!-- Boostrap 4 check also js -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- animate.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
<!-- Responsive -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/responsive.css" />
<!-- FontAwesome -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- Caradoc CSS (last style sheets win over the first ones) -->
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/airspace.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fonts.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/my_navbar.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/social_media.css" />
