<style type="text/css">
  /* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
  background: #212121;
  font-size:22px;
  line-height: 32px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  word-wrap:break-word !important;
  font-family: 'Open Sans', sans-serif;
  border: 0.3em;
  border-color: red;
  }

h1 {
  font-size: 60px;
  text-align: center;
  color: #FFF;
} 

h3 {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #FFF;
}

h3 a {
  color: #FFF;
}

a {
  color: #FFF;
}

h1 {
  margin-top: 100px;
  text-align:center;
  font-size:60px;
  line-height: 70px;
  font-family: 'Bree Serif', 'serif';
  }

#container {
  margin: 0 auto;
  max-width: 890px;
}

p {
  text-align: left;
}

.toggle,
[id^=drop] {
  display: none;
}

/* Giving a background-color to the nav container. */
nav { 
  margin:0;
  padding: 0;
  background-color:   #85c1e9   ;
  border: : solid 0.3em #85c1e9;
}

#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size:20px;
  line-height: 50px;
}


/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
  content:"";
  display:table;
  clear:both;

}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
  float: right;
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
  border: : solid 0.3em #2c3e50;
  }
  
/* Positioning the navigation items inline */
nav ul li {
  margin: 0px;
  display:inline-block;
  float: left;
  background-color:   #85c1e9  ;
  }

/* Styling the links */
nav a {
  display:block;
  padding:14px 20px;  
  color:#FFF;
  font-size:17px;
  text-decoration:none;
}


nav ul li ul li:hover { background: #000000; border-color: #ffffff; }

/* Background color change on Hover */
nav a:hover { 
  background-color:  #839192 ; 
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
  display: none;
  position: absolute; 
  /* has to be the same number as the "line-height" of "nav a" */
  top: 60px; 
}
  
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display:inherit;
}
  
/* Fisrt Tier Dropdown */
nav ul ul li {
  width:170px;
  float:none;
  display:list-item;
  position: relative;
  border-top: solid 0.1em #2c3e50;
  border-bottom: : solid 0.1em #2c3e50;
}

/* Second, Third and more Tiers 
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
  position: relative;
  top:-60px;
  /* has to be the same number as the "width" of "nav ul ul li" */ 
  left:170px; 
}

  
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' '; }
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }

  nav {
    margin: 0;
  }

  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a,
  .menu {
    display: none;
  }

  /* Stylinf the toggle lable */
  .toggle {
    display: block;
    background-color: #85c1e9;
    padding:14px 20px;  
    color:#FFF;
    font-size:17px;
    text-decoration:none;
    border:none;
  }

  .toggle:hover {
    background-color: #839192;
  }

  /* Display Dropdown when clicked on Parent Lable */
  [id^=drop]:checked + ul {
    display: block;
  }

  /* Change menu item's width to 100% */
  nav ul li {
    display: block;
    width: 100%;
    }

  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }

  nav ul ul ul a {
    padding: 0 80px;
  }

  nav a:hover,
  nav ul ul ul a {
    background-color: #000000;
  }
  
  nav ul li ul li .toggle,
  nav ul ul a,
  nav ul ul ul a{
    padding:14px 20px;  
    color:#FFF;
    font-size:17px; 
  }
  
  
  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #212121; 
  }

  /* Hide Dropdowns by Default */
  nav ul ul {
    float: none;
    position:static;
    color: #ffffff;
    /* has to be the same number as the "line-height" of "nav a" */
  }
    
  /* Hide menus on hover */
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }
    
  /* Fisrt Tier Dropdown */
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul ul li {
    position: static;
    /* has to be the same number as the "width" of "nav ul ul li" */ 

  }

}

@media all and (max-width : 330px) {

  nav ul li {
    display:block;
    width: 94%;
  }

}
</style>


<body>
    <nav>
        <div id="logo"><img id="logo" class="img-fluid img-responsive center" src="{{ site.baseurl }}/assets/img/test2.png" alt="Logo"></div>

        <label for="drop" class="toggle" style="background-color: #21618c ">Menu +</label>
        <input type="checkbox" id="drop" />
            <ul class="menu">
                <li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-1" class="toggle">Event +</label>
                    <a href="#">Event +</a>
                    <input type="checkbox" id="drop-1"/>
                    <ul>
                        <li><a class="nav-link" href="{{ site.baseurl }}{% link assets/en/program.html %}">Program</a></li>
                        <li><a class="nav-link" href="{{ site.baseurl }}{% link assets/en/workshops.html %}">Worksops</a></li>
                        <li><a href="#">Company talks</a></li>
                        <li><a class="nav-link" href="{{ site.baseurl }}{% link assets/en/talk.html %}">Keynote lecturers</a></li>
                        <li><a class="nav-link" href="{{ site.baseurl }}{% link assets/en/poster.html %}">Poster content</a></li>
                    </ul> 

                </li>
                <li><a href="{{ site.baseurl }}{% link assets/en/companies.html %}">Companies</a></li>
                <li><a href="#">Job offers</a></li>
                <li><a href="{{ site.baseurl }}{% link assets/en/map.html %}">Venue</a></li>
                <li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-1" class="toggle">About us +</label>
                    <a href="#">About us +</a>
                    <input type="checkbox" id="drop-1"/>
                    <ul>
                        <li><a class="nav-link" href="{{ site.baseurl }}{% link assets/en/contact.html %}">Contact</a></li>
                        <li><a class="nav-link" href="{{ site.baseurl }}{% link assets/en/team.html %}">Team</a></li>
                        <li><a class="nav-link" href="{{ site.baseurl }}{% link assets/en/story.html %}">Story of CARaDOC</a></li>
                    </ul>
                </li>
                <li><a style="color: red" href="{{ site.baseurl }}{% link assets/en/registration.html %}">Registration</a></li>

                
            </ul>
        </nav>




</body>