/*
<<Author>>: Oscar DE LA CRUZ
<<E-mail>>: odelacruz.fierro@gmail.com
<<Date>>: September 21, 2019
<<Description>>:
*/

/* #############################################################################
bird class
############################################################################# */
/* General rules -------------------------------------------------------------*/
.bird {
  margin-top: 2.5%;
  background : linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("../img/slider-bg.jpg");
  background-size: cover; /*Covers all background area*/
  background-attachment: fixed; /* Image will not scroll with the page*/
  background-position: center; /* Position of the background within an element */
  background-repeat: no-repeat; /* The background image is only shown once */
  /* Space around an element's content */
  padding: 2.5vw 2.5vw; /* 5% of the viewport width */
  /* Font color */
  color: #E3E3E4;
  /* Text alignent */
  text-align: center;
}

section.bird{
  margin-top: 0;
}

/* Headers rules -------------------------------------------------------------*/
.bird h1 {
  font-size: 7vw; /* Font size */
  font-weight: bold /* Other */
}
@media screen and (max-width: 768px) {
  .bird h1 {
    font-size: 10vw; /* Font size */
  }
}

.bird h2 {
  font-size: 2.5vw; /* Font size */
}
@media screen and (max-width: 768px) {
  .bird h2 {
    font-size: 5vw; /* Font size */
  }
}

/* Registration button rule --------------------------------------------------*/
.bird a {
  margin-top: 4%;
  font-family: 'Google Sans','Roboto', sans-serif; /* Font type*/
  font-weight: 300; /* Sets boldness */
  font-size: 2vw; /* 2% of viewport width */
  width: 14vw; /* Link width */
  /* Space around an element's content */
  padding:0.5em 1em; /* Xem = X times the size of current font */
  /*Dark blue*/
  color: #002E46;
  /*Dark blue */
  text-align: center;
  /* Vertical alignment of the element */
  vertical-align: top;
  /* */
  display:inline-block; /* Margins/paddings are respected */
  cursor: pointer; /* Mouse cursos */
  box-sizing: border-box; /* Includes the padding and border in an element's total width and height. */
  text-decoration: none;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  /* Light blue */
  background-color: #B1D8EC;
}

.bird a:active {
  text-decoration: underline;
}

.bird a:hover {
  /*Light blue*/
  color: #B1D8EC;
  /*Light blue*/
  border-color: #B1D8EC;
  /*Dark blue*/
  background-color: #AA2E46;
  /*border-color: solid #DDDDDD;*/
}

@media screen and (max-width: 768px) {
  .bird a {
    /* Font size */
    font-size: 5vw;
    width: 35vw;
  }
}

/* #############################################################################
top-bird class
############################################################################# */
.top-bird {
  margin-top: 0;
  padding: 6vw 7vw; /* X% of the viewport width */
  /* Dark blue */
  background-color: #002E46;
  /* Light blue */
  color: #B1D8EC;
  /* Text alignment */
  text-align: center;
}

.top-bird h1 {
  /* Font size */
  font-size: 4vw;
}
@media screen and (max-width: 768px) {
  .top-bird h1 {
    /* Font size */
    font-size: 7vw;
  }
}

.top-bird h2 {
  font-size: 2.5vw; /* Font size */
}
@media screen and (max-width: 768px) {
  .top-bird h2 {
    font-size: 5vw; /* Font size */
  }
}

.top-bird img {
  width: 65vw;
}






/* #############################################################################
falcon class
############################################################################# */
.falcon {
  padding: 2.5vw 7vw; /* 5% of the viewport width */
  /* Light blue */
  background-color: #B1D8EC;
  /* Dark blue */
  color: #002E46;
}

.falcon h1 {
  /* Font size */
  font-size: 2.5vw;
  /* Text alignment */
  text-align: center;
}
@media screen and (max-width: 768px) {
  .falcon h1 {
    /* Font size */
    font-size: 5vw;
  }
}

.falcon li {
  font-size: 1.5vw;
  /* Text alignment */
  /* text-align: left; */
  text-align: justify;
  text-justify: inter-word;
}
@media screen and (max-width: 768px) {
  .falcon li {
    /* Font size */
    font-size: 4vw;
  }
}

/* #############################################################################
sparrow class
############################################################################# */
.sparrow {
  padding: 2.5vw 7vw; /* X% of the viewport width */
  /* Dark blue */
  background-color: #002E46;
  /* Light blue */
  color: #B1D8EC;
}

.sparrow h1 {
  /* Font size */
  font-size: 2.5vw;
  /* Text alignment */
  text-align: center;
}
@media screen and (max-width: 768px) {
  .sparrow h1 {
    /* Font size */
    font-size: 5vw;
  }
}

.sparrow h2 {
  /* Font size */
  font-size: 2vw;
  /* Text alignment */
  text-align: left;
}
@media screen and (max-width: 768px) {
  .sparrow h2 {
    /* Font size */
    font-size: 4.5vw;
  }
}

.sparrow p {
  /* Font size */
  font-size: 1.5vw;
  /* Text alignment */
  /* text-align: left; */
  text-align: justify;
  text-justify: inter-word;
}
@media screen and (max-width: 768px) {
  .sparrow p {
    /* Font size */
    font-size: 4vw;
  }
}

/* #############################################################################
parrot class
############################################################################# */
/* General rules -------------------------------------------------------------*/
.parrot {
  background : linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("../img/about_us.jpg");
  background-size: cover; /*Covers all background area*/
  background-attachment: fixed; /* Image will not scroll with the page*/
  background-position: center; /* Position of the background within an element */
  background-repeat: no-repeat; /* The background image is only shown once */
  /* Space around an element's content */
  padding: 2.5vw 7vw; /* 5% of the viewport width */
  /* Font color */
  color: #E3E3E4;
  /* Text alignent */
  text-align: center;
}


.parrot {
  /*padding: 2.5vw 7vw;*/ /* 5% of the viewport width */
}

.parrot h1 {
  /* Font size */
  font-size: 2.5vw;
  /* Text alignment */
  text-align: center;
}
@media screen and (max-width: 768px) {
  .parrot h1 {
    /* Font size */
    font-size: 5vw;
  }
}

.parrot h2 {
  /* Font size */
  font-size: 2vw;
  /* Text alignment */
  text-align: left;
}
@media screen and (max-width: 768px) {
  .parrot h2 {
    /* Font size */
    font-size: 4.5vw;
  }
}

.parrot p {
  /* Font size */
  font-size: 1.5vw;
  /* Text alignment */
  /* text-align: left; */
  text-align: justify;
  text-justify: inter-word;
}
@media screen and (max-width: 768px) {
  .parrot p {
    /* Font size */
    font-size: 4vw;
  }
}

.parrot a{
  color: orange;
}
