.borda div {
  border: 3px solid #4CAF50;
  padding: 5px;
}

.imgl {
  float: left;
}

.borda clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.imgr {
  float: right;
  width: 10px;
  height: 70px;
}