---
---
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;

.reg_form {
  box-sizing: border-box;
}

.reg_form{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap:20px;
}

form.reg_form {
  padding: 10px 15px;
  background: rgb(252, 220, 97);
  margin-bottom: 0;
  margin-left: 0;
}

h1.reg_form {
  margin: 0 0 30px 0;
  text-align: center;
  margin-top: 5px;
}

form.reg_form button{
  background:#63003C;
  color:#fff;
  border:0;
  text-transform: uppercase;
}

.reg_form button:hover,.reg_form button:focus{
  background:#63003C;
  color:#4093D1;
  outline:0;
  transition: background-color 2s ease-out;
}

.reg_form label, .reg_form input{
  display:inline-block;
}

.reg_form div{
  margin:0;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrapper > *{
  padding: 1em;
}

.wrapper label{
	text-align: left;
	width: 100%;
}

.wrapper div.d-flex{
	margin-top:1em;
	padding: 0;
}

.formItem{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	width: 50vw;
}

.inputWithMsg{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.inputWithMsg > * {
	width: inherit;
}

input#emailConfirmation {
	width: inherit;
}

.reg_form .full{
  grid-column: 1 / 3;
}

.formWarning{
	color: red;
	font-style: italic;
	display: none;
}
div.alert{
	text-align: center;
	padding: 10px;
	background: #63003C;
	color:#fff;
	margin-bottom: 0;
	display: none;
}

@media (max-width:$md-width){
	
	.formItem{
		width: 80vw;
	}
  /*.wrapper{
    /*display: grid;
    grid-template-columns: 1fr 2fr;
  }*/
  /*.wrapper > *{
    padding:2em;
  }*/
}