---
---
/* #############################################################################
main css
############################################################################# */
/* colors */
$special_black: black;
$special-white: white;
$prussian-blue: rgba(9, 41, 70, 1);
$lapis-lazuli: rgba(37, 95, 154, 1);
$naples-yellow: rgba(254, 221, 100, 1);
$rusty-red: rgba(222, 60, 75, 1);
$french-raspberry: rgba(196, 40, 71, 1);
/* #############################################################################
main rules
############################################################################# */
html {
  scroll-behavior: smooth;
  font-family: 'Google Sans','Roboto', sans-serif;
}
ul {
  padding: 0;
  list-style: none;
}
h2 {
  font-weight: 400;
}
h3 {
  font-weight: 300;
}
body{
  font-family: 'Google Sans','Roboto', sans-serif;
}

.main h2 {
  font-size: 2.5vw; /* Font size */
}
@media screen and (max-width: 768px) {
  .main h2 {
    font-size: 5vw; /* Font size */
  }
}

/* #############################################################################
footer class
############################################################################# */

footer {
  background: #fff;
  text-align: center;
  /*margin-top: 10vh;*/
  padding-top: 6vh;
  padding-bottom: 6vh;
  font-size: 13px;
  
  p {
    line-height: 25px;
    color: #919191;
  }
  a {
  color: #595959;
  }
  .footer-menu {
    padding-bottom: 25px;
  }

  .footer-menu ul {
    margin: 0px;
    padding: 0px;
  }
  .footer-menu ul li {
    display: inline-block;
    padding: 0px 20px;
  }
  .footer-menu ul li a {
    display: inline-block;
    color: #494949;
  }
  .footer-menu ul li a:hover {
    color: #000;
  }

  .container{
    width:auto;
  }
}

/* #############################################################################
top-main class
############################################################################# */
.top-main {
  margin-top: 0;
  padding: 2.5vw 7vw; /* X% of the viewport width */
  /* Dark blue */
  background-color: #092a46;
  /* Light blue */
  color: #fff;
  /* Text alignment */
  text-align: center;

  h1 {
  /* Font size */
  font-size: 4vw;
  }
  h2 {
    font-size: 2.5vw; /* Font size */
  }

  @media screen and (max-width: 768px) {
    h1 {
      /* Font size */
      font-size: 7vw;
    }
    h2 {
      font-size: 5vw; /* Font size */
    }
  }

  img {
    width: 65vw;
  }
}

/* #############################################################################
top-2 class
############################################################################# */
.top-2 {
  padding: 2.5vw 7vw;
  background-color: #092a46;
  color: #fff;

  h1 {
    font-size: 2.5vw;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 5vw;
    }
  }

  li {
    font-size: 1.5vw;
    text-align: justify;
    text-justify: inter-word;
  }
  @media screen and (max-width: 768px) {
    li {
      /* Font size */
      font-size: 4vw;
    }
  }
}

/* #############################################################################
story class
############################################################################# */
.story {
  padding: 2.5vw 7vw; /* X% of the viewport width */
  /* Dark blue */
  background-color: #092a46;
  /* Light blue */
  color: white;
}

.story h1 {
  /* Font size */
  font-size: 2.5vw;
  /* Text alignment */
  text-align: center;
}
@media screen and (max-width: 768px) {
  .story h1 {
    /* Font size */
    font-size: 5vw;
  }
}

.story h2 {
  /* Font size */
  font-size: 2vw;
  /* Text alignment */
  text-align: left;
}
@media screen and (max-width: 768px) {
  .story h2 {
    /* Font size */
    font-size: 4.5vw;
  }
}

.story p {
  /* Font size */
  font-size: 1.5vw;
  /* Text alignment */
  /* text-align: left; */
  text-align: justify;
  text-justify: inter-word;
}
@media screen and (max-width: 768px) {
  .story p {
    /* Font size */
    font-size: 4vw;
  }
}

/* #############################################################################
story-bottom class
############################################################################# */
/* General rules -------------------------------------------------------------*/
.story-bottom {
  background : linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("../img/about_us.jpg");
  background-size: cover; /*Covers all background area*/
  background-attachment: fixed; /* Image will not scroll with the page*/
  background-position: center; /* Position of the background within an element */
  background-repeat: no-repeat; /* The background image is only shown once */
  /* Space around an element's content */
  padding: 2.5vw 7vw; /* 5% of the viewport width */
  /* Font color */
  color: #E3E3E4;
  /* Text alignent */
  text-align: center;
}


.story-bottom {
  /*padding: 2.5vw 7vw;*/ /* 5% of the viewport width */
}

.story-bottom h1 {
  /* Font size */
  font-size: 2.5vw;
  /* Text alignment */
  text-align: center;
}
@media screen and (max-width: 768px) {
  .story-bottom h1 {
    /* Font size */
    font-size: 5vw;
  }
}

.story-bottom h2 {
  /* Font size */
  font-size: 2vw;
  /* Text alignment */
  text-align: left;
}
@media screen and (max-width: 768px) {
  .story-bottom h2 {
    /* Font size */
    font-size: 4.5vw;
  }
}

.story-bottom p {
  /* Font size */
  font-size: 1.5vw;
  /* Text alignment */
  /* text-align: left; */
  text-align: justify;
  text-justify: inter-word;
}
@media screen and (max-width: 768px) {
  .story-bottom p {
    /* Font size */
    font-size: 4vw;
  }
}

.story-bottom a{
  color: orange;
}
