---
---
/* #############################################################################
post css
############################################################################# */
/* break points (according to bootstrap doc) */
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1200px;
/* colors */
$special_black: black;
$special-white: white;
$prussian-blue: rgba(9, 41, 70, 1);
$lapis-lazuli: rgba(37, 95, 154, 1);
$naples-yellow: rgba(254, 221, 100, 1);
$rusty-red: rgba(222, 60, 75, 1);
$french-raspberry: rgba(196, 40, 71, 1);
/* block sizes */
$navbar-height: 10vh; // defined in .navbar from my_navabr.scss
$index-top-height: 90vh;
/* Font size */
$default-font-size: 2vw;
$title-font-size: 7vw;
$big-title-font-size: 10vw;
$subtitle-font-size: 2.5vw;
$big-subtitle-font-size: 3.57vw;
$big-font-size: 4vw;
$huge-font-size: 5.71vw;
/* page inner-padding */
$page-padding-lateral: 10vw;
$page-padding-top: 2.5vh;
$page-padding-bottom: 0;
/* #############################################################################
Mixins
############################################################################# */
@mixin interpolate($properties, $min-screen, $max-screen, $min-value, $max-value) {
  & {
    @each $property in $properties {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $min-screen) {
      @each $property in $properties {
        #{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value); 
      }
    }

    @media screen and (min-width: $max-screen) {
      @each $property in $properties {
        #{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value);
      }
    }
  }
}
// Requires the calc-interpolation function which can also be used independently
@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
  $a: ($max-value - $min-value) / ($max-screen - $min-screen);
  $b: $min-value - $a * $min-screen; 

  $sign: "+";
  @if ($b < 0) {
    $sign: "-";
    $b: abs($b);
  }
  @return calc(#{$a*100}vw #{$sign} #{$b});
}
/* #############################################################################
classes
############################################################################# */
@mixin padding-band{
  padding-left: $page-padding-lateral;
  padding-right: $page-padding-lateral;
}

.post{
  //background-color: $prussian-blue;
  //@include interpolate(padding-left, $sm-width, $md-width, 0vw, $page-padding-lateral);
  //@include interpolate(padding-right, $sm-width, $md-width, 0vw, $page-padding-lateral);
}

.post-background{
  //@include interpolate(margin ,$sm-width,$lg-width, 2vw, 20vw);
  //@include interpolate(padding ,$sm-width,$lg-width, 1vw, 10vw);
  background-color: $special-white;
  display: block;
  height: auto;
}

.post-title-box {
 @include interpolate(margin-top, $sm-width,$lg-width, 0.04*$sm-width, 0.04*$lg-width); 
 @include interpolate(margin-bottom, $sm-width,$lg-width, 0.04*$sm-width, 0.04*$lg-width); 
}

.post-title{
  color: $prussian-blue;
}

.post-date{
  color: $prussian-blue;
}

.post-content{
  min-height: 90vh;
  @include interpolate(padding, $sm-width, $lg-width, $sm-width*0.04, 0px);
  @include interpolate(max-width, $sm-width, $lg-width, 0.9*$sm-width, 0.66*$lg-width);
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;

  }
}

.post-foot-nav{
  svg{
    margin: 0;
    padding: 0;
    vertical-align: unset;
    display: inline-block;
    position: relative;
    top: 50%;
    $svg-yshift: -55%;
    -webkit-transform: translateY($svg-yshift);
    -ms-transform: translateY($svg-yshift);
    transform: translateY($svg-yshift);
  }
}