.reg_form {
  box-sizing: border-box;
}

body.reg_form {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: bisque;
  background-color: lightcyan;
}

form.reg_form {
  max-width: 1000px;
  border-radius: 10px;
  padding: 10px 15px;
  background: rgb(252, 220, 97);
}

h1.reg_form {
  margin: 0 0 30px 0;
  text-align: center;
  margin-top: 5px;
}

.alert.reg_form {
  text-align: center;
  padding: 10px;
  background: rgb(168, 240, 177);
  color: green;
  margin-bottom: 10px;
  display: none;
}



input.reg_form{
	background: gray;
	border: 1px;
	margin-bottom: 25px;
	box-shadow: 2px;
	color: beige;
	background-color: rgb(142, 143, 223);
	width: 100%;
	padding: 15px;
	margin: 0;
	height: auto;
	font-size: 15px;
}

select.reg_form {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

fieldset.reg_form {
  margin-bottom: 30px;
  border: none;
	width: 600px;
}

legend.reg_form {
  display: block;
  margin-bottom: 8px;
}

label.light.reg_form {
  font-weight: 300;
  display: inline;
}

.section.reg_form {
  background-color: rgb(68, 114, 221);
  color: white;
  height: 29px;
  display: inline-block;
  width: 29px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  margin-right: 4px;
  font-size: 0.7em;
}






label.reg_form {
  display: block;
  margin-bottom: 8px;
}

button.reg_form {
  padding: 25px 40px;
  color: whitesmoke;
  background-color: rgb(36, 159, 235);
  font-size: 15px;
  margin: 30px 0px 0px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

/*
@media screen and (min-width: 480px) {
  form.reg_form {
    max-width: 480px;
  }
}
*/
