---
---
/**{
margin: 0;
padding: 0;
box-sizing: border-box;
}*/

html{
	font-size: 10px;
	/*font-family: "Roboto", sans-serif;*/
}

body{
	overflow-x: hidden;
}

a{
	text-decoration: none;
	color: #fff;
}

.niceday3{
	padding: 5rem 0;
	background: linear-gradient(135deg, rgba(186, 186, 186, 0.03) 0%, rgba(186, 186, 186, 0.03) 10%,rgba(133, 133, 133, 0.03) 10%, rgba(133, 133, 133, 0.03) 14%,rgba(38, 38, 38, 0.03) 14%, rgba(38, 38, 38, 0.03) 17%,rgba(93, 93, 93, 0.03) 17%, rgba(93, 93, 93, 0.03) 25%,rgba(80, 80, 80, 0.03) 25%, rgba(80, 80, 80, 0.03) 45%,rgba(239, 239, 239, 0.03) 45%, rgba(239, 239, 239, 0.03) 100%),linear-gradient(135deg, rgba(236, 236, 236, 0.03) 0%, rgba(236, 236, 236, 0.03) 47%,rgba(182, 182, 182, 0.03) 47%, rgba(182, 182, 182, 0.03) 63%,rgba(223, 223, 223, 0.03) 63%, rgba(223, 223, 223, 0.03) 81%,rgba(86, 86, 86, 0.03) 81%, rgba(86, 86, 86, 0.03) 89%,rgba(23, 23, 23, 0.03) 89%, rgba(23, 23, 23, 0.03) 90%,rgba(226, 226, 226, 0.03) 90%, rgba(226, 226, 226, 0.03) 100%),linear-gradient(45deg, rgba(52, 52, 52, 0.03) 0%, rgba(52, 52, 52, 0.03) 31%,rgba(246, 246, 246, 0.03) 31%, rgba(246, 246, 246, 0.03) 63%,rgba(188, 188, 188, 0.03) 63%, rgba(188, 188, 188, 0.03) 71%,rgba(15, 15, 15, 0.03) 71%, rgba(15, 15, 15, 0.03) 87%,rgba(127, 127, 127, 0.03) 87%, rgba(127, 127, 127, 0.03) 93%,rgba(234, 234, 234, 0.03) 93%, rgba(234, 234, 234, 0.03) 100%),linear-gradient(90deg, #FFF,#FFF);
	font-size: 10px;
	font-family: "Roboto", sans-serif;
}

.niceday3 .container{
	width: 90vw;
}

.heading{
	text-transform: uppercase;
	font-size: 3.5rem;
	letter-spacing: 3px;
	margin-right: -3px;
	margin-bottom: 5rem;
	text-align: center;
	color: #333;
	position: relative;
}

.heading::after{
	content: "";
	width: 10rem;
	height: .8rem;
	background-color: #45e19f;
	position: absolute;
	bottom: -2rem;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 2rem;
}

.team div.container{
	width: 90vw;
}

.card-wrapper{
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
}

.card{
	width: 32rem;
	/*height: 88rem;*/
	background-color: #ebeef8;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 2rem 0rem;
	box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
}

.card .card-img{
	width: 100%;
	height: 26rem;
	object-fit: cover;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}

.profile-img{
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	border-radius: 50%;
	margin-top: -11rem;
	z-index: 999;
	border: 1rem solid #ebeef8;
}

.card h1{
	font-size: 2.5rem;
	color: #333;
	margin: 1.5rem 0;
	text-align: center;
}

.job-title{
	color: #777;
	font-size: 1.5rem;
	font-weight: 300;
}

.about{
	font-size: 1.5rem;
	margin: 1.5rem 1.0rem;
	margin-bottom: auto;
	font-style: italic;
	text-align: justify;
	color: #333;
}

.card .btn{
	padding: 1rem 2.5rem;
	background-color: #445ae3;
	border-radius: 2rem;
	margin: 1rem 0;
	text-transform: uppercase;
	color: #eee;
	font-size: 1.4rem;
	transition: all 0.5s;
}

.card .btn:hover{
	transform: translateY(-2px);
	box-shadow: 0.5rem 0.5rem 2rem rgba(0,0,0,0.2);
}

.card .btn:active{
	transform: translateY(0);
	box-shadow: none;
}

.social-media{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-around;
	padding: 2rem 0;
	margin-top: 1.5rem;
	border-top: 1px solid rba(0,0,0,0.1);
}

.social-media i{
	font-size: 3rem;
	transition: color 0.5s;
}

.fa-facebook-square{
	color: #3b5999;
}

.fa-twitter-square{
	color: #55acee;
}

.fa-instagram{
	color: #e6683c;
}

.fa-linkedin{
	color: #0072b1;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram:hover,
.fa-linkedin:hover{
	color: #45e19f;
}

@media screen and (min-width: 700px){
	.card-wrapper{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
	}
	.card{
		margin: 2rem;
		transition: transform 0.5s;
	}

	@keyframes fadeIn {
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}

	.card:nth-child(1){
		animation: fadeIn 0.5s 0.2s backwards;
	}
	.card:nth-child(2){
		animation: fadeIn 0.5s 0.4s backwards;
	}
	
	.card:nth-child(3){
		animation: fadeIn 0.5s 0.6s backwards;
	}
		
	.card:nth-child(4){
		animation: fadeIn 0.5s 0.8s backwards;
	}

	.card:hover{
		transform: scale(1.05);
	}
		
}
.nav .container {

  min-width: 1300px;
  margin-left: 35px;
  padding-top: 5px;
  font-weight: lighter;
  background-color: #f6f6f6;
  padding-bottom:-10px;
}

.nav .container .pull-left  {
    color: #696969;
    font-size: 35px;
    font-weight: lighter;
    margin-left: -10px;
} 


.nav .nav-pills .active  a:hover {
    background-color: #dcdcdc;
}

.nav .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
 
 

.nav .container .pull-right a {
    color: #9900ff;
    font-family: 'roboto';
    font-size: 20px;
    background-color: #f6f6f6;
    word-spacing: 5px;
}


.nav li {
  display: inline; 
}




.jumbotron { 
  background-image:url('http://www.hiphophdwallpapers.com/wp-content/uploads/2015/02/Mexico-City-Wallpaper1.jpg');
  position: relative;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  color: white; 
  position: relative;
  top:100px;
  margin-top: -30px;
}

.jumbotron .container h1 { 
  font-size: 75px;  
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: -10px;
}

.jumbotron .container p {
    font: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: #ffffff;
  
}

.glyphicons .container .row {
  font-size: 40px;
  color: #ff0066; 
  text-align: center;
  background-color: #fffff;
  margin-top: 20px;
  margin-left: -30px;
}



.learn-more .container { 
  line-height: 2em;
  background-color: #ffffff;
  background-position: cover;
  margin-bottom: 50px;
  margin-top: -10px;

}

.learn-more h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-left: -10px;
}


.learn-more p {
    text-align: justify; 
    position: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin-right: 10px;
    margin-left: -10px;
}

.learn-more .container .row {
  
  display: auto;
  size: 100px 100px;
  margin-bottom: -200px;
}

.jumbotron2 { 
  background-image: url('https://i.imgur.com/zWfThaY.jpg');
  position: relative;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}


.jumbotron2 h1 {
  color: #ffffff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 100px;
  margin-top:200px;
  margin-bottom: 50px;
}

.jumbotron2 a {
 margin-left: 500px;
 font-family: 'Roboto', sans-serif;
 font-weight: lighter;
 color: #ff0066;
  
}

.team-pictures .container .row  {
  text-align: center;
  text-spacing: 10px;
  margin-right: 45px;
  margin-left: -45px;
  margin-top: 40px;

}

.team-page-jumbotron .container .row {
  margin-bottom:100px;
}
.team-page-jumbotron .container .row h1 {
  font-family: 'roboto';
  font-size: 40px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left:-30px;
  border-bottom: 1px solid #dcdcdc;
}

.team-page-jumbotron .container .row h2 {
  font-family: 'roboto';
  font-size: 14px;
  font-weight: lighter;
  line-height: 2em;
  margin-bottom: -50px;
  margin-left:-30px;
  margin-top: 50px;
}

.team-page-jumbotron .container .row h4 {
  font-family: 'roboto';
  font-size: 25px;
  text-align: center;
  margin-right:80px;
  margin-left: -10px;
  margin-top: -80px;
}

.team-page-jumbotron .container .row h5 {
  font-size: 15px;
  font-family: 'roboto';
  text-align: center;
  margin-top: -5px;
  margin-right:80px;
  margin-left: -10px;
}

.team-page-jumbotron .container .row p {
  line-height: 1.8em;
  font-family: 'roboto', sans-serif;
  text-align: justify;
  font-weight: lighter;
  margin-top: 20px;
  margin-left: -50px;
  margin-right: 50px;
}


.team-page-jumbotron .container .row ul {
  margin-left: 20px;
  margin-top: 20px;
  
}

.team-page-banner .container .row {
  background-positon: cover;
  background-color: black;
  
}

.footer .container .row {
  text-align: left;
  font-family: 'roboto', sans-serif;
  height: 1px;
  margin-left: -100px;
  border-top: 1px solid #dcdcdc;
  margin-top: 10px;
  padding-top: 10px;
  background-color: #ffffff;
}



.network .container .row2 {
  margin-left: -50px;  
}

.network-banner .container .row p {
  font-type: "Roboto", sans-serif; 
  font-weight: regular;
  font-size: 15px;
  margin-top: 30px;
 margin-left: -30px;
  margin-bottom:100px;
    
}

.network-banner .container .row h1 {
  font-family: 'roboto';
  font-weight: bold;
  margin-left: -30px;
  margin-bottom: 50px;
  border-bottom: 1px solid #dcdcdc;
  margin-top:-50px;
  
}

.network-banner .container .row a {
  margin-left:-28px;
}

.social-icons .fa {
	font-size: 1em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}


.social-icons ul {
  margin-left:70px;
}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square {
  background-color:#0085AE;} 

.social-icons .fa-twitter,.social-icons .fa-twitter{background-color:#32CCFE;} 

.social-icons .fa-skype{background-color:#01AEF2;}

.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;} 

