.team h2{
	margin-left:300px;
}

.team p{
	color: blue;
}

.team div {
  border: 3px solid #808080;
  padding: 5px;
  margin-left:300px;
  margin-right:300px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.team img.imgleft{
	float: left;
	height: 170px;
	width: 170px;
	margin-right: 15px;
}

.team img.imgright{
	float: right;
	height: 170px;
	width: 170px;
	margin-left: 1px;
}