---
layout: page_en
title: JRED
permalink: /index_en/
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col align-self-center">
        <div class="block">
          <h1 class="animated fadeInUp">J-RED 2019</h1>
          <h2 class="animated fadeInUp">A job fair for PhD candidates and young PhD holders</h2>
          <h2 class="animated fadeInUp">April 4th, 2019</h2>
          <h3 class="animated fadeInUp">CentraleSupélec Campus, 91190 Gif-Sur-Yvette</h3>
          <a class="download-btn inscription animated fadeInUp" href="https://www.weezevent.com/jred-2019" >Registration</a>
          <h3 class="animated fadeInUp">For Paris-Saclay PhD students:</br>This day is equivalent to 4h of transversal formation. </h3>
          <a class="download-btn saclay animated fadeInUp" href="http://www.adum.fr/psaclay/formations.pl?mat=205057" >ADUM</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Programme Start -->
<section id="programme">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col align-self-center">
        <div class="section-title">
          <h2>Program</h2>
        </div>
      </div>
    </div>
      <!--<div class="col-md-10 col-sm-10">-->
    <div class="rov justify-content-center">
      <div class="col align-self-center">
        <img src="{{ site.baseurl }}/assets/img/programme_jred_en.png" alt="Programme">
      </div> <a href="#programme"></a>
     <!-- </div> --><!-- .col-md-5 close -->
    </div>
    <div class="button-wrapper">
        <a class="download-btn" href="{{ site.baseurl }}{% link /assets/doc/programme_jred.pdf %}">Download</a>
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row  justify-content-center">
    <div class="col align-self-center">
      <div class="section-title">
        <h2>J-RED : 5 solid reasons to come</h2>
      </div>
      <div class="block">
        <ol>
          <li>To <strong>find answers</strong> about how PhD students can join the private sector or build their own startups. R&D is not the only option!</li>
          <li>To <strong>learn</strong> more about the various training programs on entrepreneurship and working in industry, offered by Paris-Saclay University</li>
          <li>To <strong>get in touch</strong> with companies in the sectors that interest you, whether related to or not with your PhD thesis. We offer the possibility to book appointments with the companies for job interviews. Otherwise, you can directly meet them at their booth in the afternoon.</li>
          <li>To <strong>showcase</strong> your scientific work in the form of a poster, and have the chance to win the prize for best poster</li>
          <li>Have you seen many job fairs that end in a <strong>jazz party</strong>? At Saclay?</li>
        </ol>
      </div>
    </div>
  </div>
</div>
</section>

<!-- About US Start -->
<section id="about-us">
  <div class="container">
    <div class="row justify-content-center">
        <div class="section-title">
          <h2>JRED - About Us</h2>
          <p>Who are we?</p>
        </div>
        <div class="block">
          <p>The J-RED organizers are all volunteers and PhD Students members of ATACS,  the association of PhD Students and Friends of CentraleSupélec. We also work with CentraleSupélec and Paris Saclay services in order to provide to this day a sense of unity within within the construction of the University Paris-Saclay.</p>
 
          <p>The ATACS wishes, for the next editions of the J-RED, to include PhD Students and PhD holders coming from all over the Saclay plateau in the j-RED team. If you are interested, you can send us an e-mail using the link provided in the Contact section.</p>
        </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<!-- Content Start -->
<!--
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>-->
