<!DOCTYPE html>
<html class="no-js">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/index.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/charts.css" />
    {% seo %}
  </head>
  <body>
    <!-- Header Start -->
    <header class="sticky-top">
    {% include main_navbar_en.html %}
    </header>
    <!-- header close -->

    {{ content }}

    {% include footer_en.html %}
    {% include foot_js.html %}
    <script src="{{ site.baseurl }}/assets/js/index.js"></script>
    <script src="{{ site.baseurl }}/assets/js/charts.js"></script>
  </body>
</html>
